.interestItem {
    background: linear-gradient(97.56deg, #FFD5D5 3.45%, #FEB6FF 133.4%);
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    height:fit-content;
}

.profileMode {
    opacity: 20%;
    cursor: pointer;
}

.active {
    opacity: 100%;
    cursor: pointer;
}

.interestItem span {
    margin-left: 6px;
}