.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%;
    font-weight: 500;
}

.logo {
    font-size: 1.3rem;
    font-weight: 600;
}


.rightContainer a:first-child {
    margin-right: 50px;
}