.profileWrapper {
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adorerCard,
.settingsCard,
.locationCard,
.signOutCard {
  background-color: white;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  box-shadow: 0px 4px 33px 10px rgba(0, 0, 0, 0.04);
}

.adorerWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

.adorerImage {
    object-fit: cover;
    border: 4px solid rgba(232, 172, 70, 1);
    border-radius: 5px;
    background-color: rgb(207, 144, 36);
    transition: all 0.3s;
}


.adorerImage.image2 {
    rotate: 20deg;
    transform:translate(50px, -15px);
}

.adorerImage.image1 {
    position: relative;
    z-index: 10;
    width: 100px;
    height: 120px;
    box-shadow: 0px 4px 9px 2px rgba(0, 0, 0, 0.12);
}

.adorerImage.image1:hover {
    transform: scale(110%);
}

.adorerImage.image3 {
    rotate: -20deg;
    transform:translate(-50px, -15px)
}

.adorerImage.image2,
.adorerImage.image3 {
    position: absolute;
    width: 80px;
    height: 100px;
}

.adorerImage.image2:hover,
.adorerImage.image3:hover {
    width: 90px;
    height: 110px;
}


.adorerCard p {
    text-align: center;
    color: rgba(0, 0, 0, 0.429);
}

.settingsWrapper {
    width: 100%;
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
}

.settingsWrapper p {
    margin-top: 5px;
    font-size: 15px;
}

.ageWrapper,
.genderWrapper,
.verifiedWrapper {
    text-align: center;
}



.ageWrapper .ageInput {
    width: 54px;
    height: 54px;
    border: 2px solid rgba(0, 0, 0, 0.042);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    text-align: center;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}

.genderWrapper select {
    width: 90px;
    height: 54px;
    border: 2px solid rgba(0, 0, 0, 0.042);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.verifiedButton {
    width: 54px;
    height: 54px;
    border: 2px solid rgba(0, 0, 0, 0.042);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.verified {
    background-color: rgba(0, 0, 255, 0.262);
    border: 2px solid rgba(3, 20, 255, 0.28);
}

.verified:active {
    background-color: rgba(0, 0, 222, 0.451);
    border: 2px solid rgba(3, 20, 255, 0.28);
}






.locationCard img {
    width: 17px;
    height: 17px;
    fill: black;
}

.locationCard h2 {
    display: flex;
    align-items: center;
}

.locationCard span {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 2px;
    transition: all 0.6s;
    transform:rotate(0deg);
}

.locationCard span:active {
    transform:rotate(360deg);
}

.locationError {
    padding: 13px 0px;
    border-radius: 10px;
    border: none;
    width: 100%;
    margin-top: 10px;
}

.locationDisplay {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

.locationDisplay img {
    margin-right: 10px;
    margin-left: 0px;
    width:auto;
    height: 20px;
}

.locationDisplay span {
    height: 18px;
    background-color: rgba(0, 0, 0, 0.087);
    border-radius: 5px;
}

.locationDisplay .cityLoadingPlaceholder {
    width: 80px;
}

.locationDisplay .countryLoadingPlaceholder {
    width: 105px;
}

.signOutWrapper {
    width: 100%;
    padding: 13px 0px;
    background-color: rgb(255, 213, 213);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.signOutWrapper:active {
    background-color: rgb(236, 171, 171);
}

.signOutWrapper p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 17px;
    font-weight: 450;
} 

.signOutWrapper span {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signOutWrapper img {
    height: 100%;
    width: auto;
}




.rightContainer {
    padding: 40px 20px;
    width: 700px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 33px 10px rgba(0, 0, 0, 0.04);
}

.profileImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profileImageWrapper img,
.imagePlaceholder {
    border-radius: 10px;
    object-fit: cover;
    width: 200px;
    height: 250px;
    margin-bottom: 10px;
}

.profileImageWrapper p {
    margin-top: 10px;
    color: blue;
    cursor: pointer;
}

.profileImageWrapper input {
    text-align: center;
}


.imageUpload {
    color: blue;
    padding: 6px 12px;
    cursor: pointer;
}

.profileFormWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.profileImageWrapper input[type="file"] {
    display: none;
}

.profileForm {
    width: 500px;
}

.nameInputWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nameInputWrapper input{
    width: 49%;
}

.profileForm input {
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.096);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    
}

.profileForm textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
    margin-top: 20px;
    border: 2px solid rgba(0, 0, 0, 0.096);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
}

.formSubmit {
    padding: 10px 10px;
    width: 100%;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: background-color 0.4s;
}

.formSubmit:disabled {
    background-color: rgba(0, 0, 0, 0.314) !important;
    cursor: auto;
}


 
.errorInputStyle {
    transition: all 1s;
    border: 2px solid rgb(255, 86, 86) !important;
    background-color: rgb(255, 237, 237) !important;
}

.errorInputStyle::placeholder,
.errorInputStyle:optional {
    color: rgb(255, 108, 108);
}












@media (max-width: 1600px) {
    .profileImageWrapper img {
        width: 200px;
        height: 200px;
    }

    .rightContainer {
        padding: 20px 20px;
    }
}